body{
    text-align: center;
    color: darkgreen;
    padding-top:30px;
    
}
img{
    transition: transform .2s;
    border: 25px solid="red";
}
img:hover{
    transform: scale(0.9);
}
